body {
    background-color: black;
    color: white;
  }
  nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: rgb(14, 14, 15);
    color: white;
    font-family: "poppins" sans-serif;
    border-color: black solid 1px;
    top: 0;
    z-index: 9999;
  }
  nav img {
    margin-left: 20px;
  }
  
  .atas {
    margin-top: 100px;
  }
  rt {
    margin: 200px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    font-weight: bolder;
    margin-right: 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  footer {
    text-align: center;
    height: 15vh;
    padding: 6vh 0vw;
    margin: 30px;
  }